analysis/*
.sl64_gcc447/
!.gitignore
logfile/
output_fp/
output_exp/
!analysis/*.C
!analysis/*.h
!analysis/*.txt
!analysis/*.csh
check.sh
submit_la.sh.o*
submit_la.sh.e*
qsub_script_la.sh.o*
qsub_script_la.sh.e*
